# Environment Variables
.env

# Database
finances.db

# Sensitive files
token.json
credentials.json

# Python
__pycache__/

# Plaid Cache/Historical
plaid_cache.json
plaid_historical.json
plaid_historical_processed.json
